<app-breadcrumb [titulo]="titulo" [subTitulo]="subTitulo" [urlBreadcrumb]="urlBreadcrumb"></app-breadcrumb>

<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary mb-3" [routerLink]="['/front/service-create']">Novo serviço</button>
    </div>
    <div class="col col-lg-4">
      <div class="form-group">
        <div class=" input-group input-group-merge">
          <div class=" input-group-prepend">
            <span class=" input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" [(ngModel)]="paramBusca" (keyup.enter)="getRegistros()" placeholder="Buscar" type="text"></div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Serviços</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-hover align-items-center table-flush ">
            <thead class="thead-light">
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Data</th>
              <th scope="col">Cliente</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Valor</th>
              <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let servico of servicos | paginate:{itemsPerPage: 5, currentPage: p, totalItems: total }" >
              <th scope="row"> S{{(servico.id.toString()).padStart(5,0)}}</th>
              <td>{{servico.data | date:'dd/MM/yyyy HH:mm'}}</td>
              <td>{{servico.pessoa.nome}}</td>
              <td>{{servico.usuario.nome}}</td>
              <td class="text-right">{{(+servico.total).toFixed(2)}}</td>
              <td>
                <a [routerLink]="['/front/service-create/' + servico.id]"><i class="fas fa-search"></i></a> &nbsp;
                <a *ngIf=!servico.caixa (click)=edit(servico.id) ><i class="fas fa-edit"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="text-center paginacao">
          <pagination-controls (pageChange)="getRegistros(p = $event);" previousLabel="Anterior" nextLabel="Próximo" responsive="true"></pagination-controls>
        </div>

      </div>
    </div>
  </div>

</div>
