<app-breadcrumb [titulo]="titulo" [subTitulo]="subTitulo" [urlBreadcrumb]="urlBreadcrumb"></app-breadcrumb>

<div class="container-fluid mt--7">
  <form >
    <div class="row">
      <div class="col-xl-6">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Cadastro de serviços</h3>
                </div>
                <div class="col-4">
                  
                </div>
              </div>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" >Cliente</label>
                      <div class="form-control-label float-right" ><a [swal]="clienteSwal" class="mouse-link"><i class="fas fa-plus-circle"></i> Novo cliente</a></div>

                      <select [(ngModel)]="servico.pessoa.id" (change)=setCliente() name="cliente" class="form-control form-control-alternative">
                        <option value="">Selecione</option>
                        <option *ngFor="let cliente of clientes" value="{{cliente.id}}">{{ cliente.nome }}</option>
                      </select>

                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <div class="form-group">
                      <label class="form-control-label" >Responsável</label>
                      <select [(ngModel)]="servico.responsavel.id" name="usuario" class="form-control form-control-alternative">
                        <option value="0">Selecione</option>
                        <option *ngFor="let usuario of usuarios" value="{{usuario.id}}">{{ usuario.nome }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" >Equipamento</label>
                      <div class="form-control-label float-right" ><a (click)=openEquipamento() class="mouse-link"><i class="fas fa-plus-circle"></i> Novo equipamento</a></div>
                      <select [(ngModel)]="servico.equipamento.id"  name="equipamento" class="form-control form-control-alternative">
                        <option value="0">Selecione</option>
                        <option *ngFor="let equipamento  of equipamentos" value="{{equipamento.id}}">{{ equipamento.marca }} - {{ equipamento.modelo }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" >Defeito relatado</label>
                      <textarea [(ngModel)]="servico.relato" name="relato" class="form-control">{{ servico.relato }}</textarea>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" >Acessórios</label>
                      <textarea [(ngModel)]="servico.acessorios" name="relato" class="form-control">{{ servico.acessorios }}</textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-6">
            <div class="col-xl-12">
              <div class="card shadow table-produtos" >
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-10">
                      <div class="form-group">
                        <label class="form-control-label" >Produto/Serviço</label>
                        <ng-select class="ng-custom" (change)=setProduto($event)
                          [items]="products"
                          bindLabel="nome"
                          bindValue="produto"
                          loadingText="Carregando..."
                          notFoundText="Item não encontrado"
                          placeholder="Digite o Nome/código/EAN do produto"
                          labelForId="buscaProduto"
                          [searchFn]="buscaProduto"
                        ></ng-select>
                      </div>
                    </div>

                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="form-control-label" >Qtde</label>
                        <input type="text" [(ngModel)]="qt" #qtProduto (keyup.enter)=addProduto() name="qt" class="form-control" placeholder="QT">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-12 mt-4">
              <div class="card shadow table-produtos" [style.height.px]="240">
                <div class="table-responsive">
                  <table class="table table-hover align-items-center table-flush ">
                    <thead class="thead-light">
                    <tr>
                      <th scope="col">Nome do produto</th>
                      <th scope="col">Qtde</th>
                      <th scope="col">Preço Unit</th>
                      <th scope="col">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of servico.itensServico" >
                        <td class="prod-name" title="{{item.produto.nome}}">{{item.produto.nome.substring(0, 20)}}</td>
                        <td class="text-right">{{item.qt}}</td>
                        <td class="text-right">{{ (+item.produto.preco).toFixed(2)}}</td>

                        <td><a (click)=removeItem(item) class="mouse-link"><i class="fas fa-trash text-danger"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-xl-12 mt-4">
              <div class="card shadow table-produtos" >
                <div class="card-body">
                  <div class="row">                    
                    <div class="col col-lg-6 pl-lg-12 text-right" >
                      <label class="form-control-label text-prod" >Subtotal</label>
                      <h2>{{subtotal.toFixed(2)}}</h2>
                    </div>
                    <div class="col-lg-3 text-right">
                      <div class="form-group">
                        <label class="form-control-label">Desconto</label>
                        <input type="text" [(ngModel)]="servico.desconto" (blur)="calcTotal()" name="desconto" class="form-control form-control-alternative"  value="{{servico.desconto.toFixed(2)}}" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                      </div>
                    </div>
                    <div class="col col-lg-3 pl-lg-12 text-right" >
                        <label class="form-control-label text-prod" >Total</label>
                        <h2>{{(servico.total).toFixed(2)}}</h2>                        
                    </div>
    

                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-12 mt-4">
              <div class="card shadow table-produtos" >
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label">Pagamento</label>
                        <input type="text" [(ngModel)]="valorPagamento" [disabled]="blockPag" name="pagamento" class="form-control form-control-alternative" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                      </div>
                    </div>

                    <div class="col col-lg-5 pl-lg-12 " >
                      <label class="form-control-label text-prod" >Valor pago</label>
                      <h2 *ngFor="let conta of servico.contas; let i = index" >{{i+1}}º - {{conta.valor.toFixed(2)}}<span *ngIf=conta.pago> (Pago)</span></h2>
                      <h2 *ngIf="!blockPag">{{valorPagamento.toFixed(2)}}</h2>
                    </div>
                    <div class="col col-lg-3 pl-lg-12 text-right" >
                        <label class="form-control-label text-prod" >Restante</label>
                        <h2>{{(servico.total - totalPago - valorPagamento).toFixed(2)}}</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-12 mt-4">
              <div class="card shadow table-produtos" >
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label">Previsão de entrega</label>
                        <input type="text" [(ngModel)]="previsao" name="previsao" class="form-control form-control-alternative" mask="00/00/0000" >
                      </div>
                    </div> 
                    <div class="col-lg-4">
                      <div class="form-group">
                        <br><br>
                        <h2>{{servico.previsao | date:'dd/MM/yyyy'}}</h2>
                      </div>
                    </div> 
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-12 mt-4">             

              <div class="row">
                <div class="col col-lg-6 pl-lg-6 text-right" >
                  
                </div>

                <div class="col col-lg-6 pl-lg-12 d-flex flex-row-reverse pt-4" >
                  <button style="display: none;" >Workaroud</button>
                  <button #btnFinalizar (keydown.enter)="onKeydown($event)" [swal]="{ title: 'Confirme', text: 'Confirma o registro deste serviço?', icon: 'question', showCancelButton: true, focusCancel: true }" (confirm)=finalizar() class="btn btn-info mr-2 mb-2" > <i class="fas fa-save"></i> Salvar (F9)</button>
                  <button #btnCancelar [disabled]="blockCanc" class="btn btn-danger mr-2 mb-2" [swal]="{ title: 'Confirme', text: 'Deseja cancelar este serviço?', icon: 'question', showCancelButton: true, focusCancel: true }"
                  (confirm)="checkCancelar()" >  <i class="fas fa-ban"></i> Cancelar (F8)</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Modal cliente ------------------------------------------------------->
  <swal #clienteSwal title="Novo Cliente" [showConfirmButton]=false >
    <div *swalPortal >
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group text-left">
            <label class="form-control-label" >Nome/Nome fantasia</label>
            <input type="text" [(ngModel)]="servico.pessoa.nome" required="required" name="nome" class="form-control form-control-alternative" placeholder="Nome" value="{{servico.pessoa.nome}}">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group text-left">
            <label class="form-control-label">Celular</label>
            <input type="tel" [(ngModel)]="servico.pessoa.celular" name="celular" class="form-control form-control-alternative"  mask="(00) 00000-0000" placeholder="Número do celular" value="{{servico.pessoa.celular | mask: '(00) 00000-0000'}}">
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-12 text-right">
          <button class="btn btn-info" (click)=addCliente() >Salvar</button>
        </div>
      </div>
    </div>
  </swal>

<!-- Modal equipamento --------------------------------------------->
<swal #equipamentoSwal title="Novo equipamento" [showConfirmButton]=false >
  <div *swalPortal >
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group text-left">
          <label class="form-control-label" >Marca</label>
          <input type="text" [(ngModel)]="servico.equipamento.marca" required="required" name="marca" class="form-control form-control-alternative" value="{{servico.equipamento.marca}}">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group text-left">
          <label class="form-control-label" >Nº série</label>
          <input type="text" [(ngModel)]="servico.equipamento.serie" required="required" name="serie" class="form-control form-control-alternative" value="{{servico.equipamento.serie}}">
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group text-left">
          <label class="form-control-label" >Modelo</label>
          <input type="text" [(ngModel)]="servico.equipamento.modelo" required="required" name="modelo" class="form-control form-control-alternative" value="{{servico.equipamento.modelo}}">
        </div>
      </div>

      <div class="col-lg-12">
        <div class="form-group text-left">
          <label class="form-control-label" >Detalhes</label>
          <textarea [(ngModel)]="servico.equipamento.descricao" name="descricao" class="form-control">{{ servico.equipamento.descricao }}</textarea>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-12 text-right">
        <button class="btn btn-info" (click)=addEquipamento() >Salvar</button>
      </div>
    </div>
  </div>
</swal>

<!-- Modal cancelamento ------------------------------------->
<swal #cancelarSwal title="Cancelar venda" [showConfirmButton]=false >
  <div *swalPortal >
    <div class="row justify-content-md-center">
      <div class="col col-lg-12">
        <div class="form-group text-left">
          <label class="form-control-label" >Usuário administrador</label>
          <input type="text" [(ngModel)]="usuarioCanc" id="usuarioCanc" (keyup.enter)=execCancelar() name="usuarioCanc" class="form-control" >
        </div>

        <div class="form-group text-left">
          <label class="form-control-label" >Senha</label>
          <input type="password" [(ngModel)]="senhaCanc" id="senhaCanc" (keyup.enter)=execCancelar() name="senhaCanc" class="form-control" >
        </div>
      </div>

      <div class="col col-lg-12">
        <button type="button" class="btn btn-info btn-block" (click)=execCancelar()> OK</button>
      </div>
    </div>
  </div>
</swal>