<app-breadcrumb [titulo]="titulo" [subTitulo]="subTitulo" [urlBreadcrumb]="urlBreadcrumb"></app-breadcrumb>

<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row ">
    <div class="big-button d-table">
      <div class="card card-block d-table-cell align-middle bg-primary" [routerLink]="['/front/sale-create']">
        <h2>Nova venda</h2>
        <p>
          Venda de produtos
        </p>
      </div>
    </div>

    <div class="big-button d-table">
      <div class="card card-block d-table-cell align-middle bg-primary" [routerLink]="['/front/service-create']">
        <h2>Novo serviço</h2>
        <p>
          Ordem de serviço
        </p>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="big-button  d-table">
      <div class="card card-block d-table-cell align-middle bg-primary" [routerLink]="['/front/cashier']">
        <h2>Caixa</h2>
        <p>
          Frente de caixa
        </p>
      </div>
    </div>
  </div>

</div>


