<app-breadcrumb [titulo]="titulo" [subTitulo]="subTitulo" [urlBreadcrumb]="urlBreadcrumb"></app-breadcrumb>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-2">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)" (click)="fileSelect.click()">
                <img src="{{user.avatar}}" class="rounded-circle" alt="Avatar">
              </a>

            </div>
          </div>
        </div>
        <div class="card-body" >
          <div class="text-center" *ngIf="user.id">
            <h3>
              {{user.nome}}
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Guará II
            </div>
            <hr class="my-4" />
            <div class="h5">
              <i class="ni business_briefcase-24 mr-2"></i><a target="_blank" href="mailto:{{user.email}}" >{{user.email}}</a>
            </div>
            <div class="h5">
              <i class="ni business_briefcase-24 mr-2"></i>{{user.celular | mask: '(00) 00000-0000'}}
            </div>
            <a href="javascript:void(0)"> Serviços</a>
            <hr class="my-4" />
            <button class="btn btn-danger btn-sm">Remover usuário</button>
          </div>
        </div>
      </div>
    </div>
    <form (submit)="save()" class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Cadastro do usuário</h3>
            </div>
          </div>
        </div>
        <div class="card-body">

          <div >
            <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">

                <input style="display: none" #fileSelect type="file" name="avatar" (change)="fileEvent($event)">

                <div class="form-group">
                  <label class="form-control-label" >Nome</label>
                  <input type="text" [(ngModel)]="user.nome" required="required" name="nome" class="form-control form-control-alternative" placeholder="Nome do usuário" value="{{user.nome}}">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" >Email</label>
                  <input type="email" [(ngModel)]="user.email" name="email" class="form-control form-control-alternative" placeholder="E-mail do usuário" value="{{user.email}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label">Celular</label>
                  <input type="text" [(ngModel)]="user.celular" name="celular" class="form-control form-control-alternative"  mask="(00) 00000-0000" placeholder="Número do celular" value="{{user.celular | mask: '(00) 00000-0000'}}">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" >Telefone</label>
                  <input type="text" [(ngModel)]="user.telefone" name="telefone"  class="form-control form-control-alternative" mask="(00) 0000-0000" placeholder="Número do telefone" value="{{user.telefone | mask: '(00) 0000-0000'}}">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" >Dt Nasc</label>

<!--                  <div class="input-group input-group-alternative">-->
<!--                    <div class="input-group-prepend">-->
<!--                      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>-->
<!--                    </div>-->
<!--                    <input class="form-control datepicker" placeholder="Dt Nascimento" name="dt_nasc" [(ngModel)]="user.dt_nasc" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" type="text"/>-->
<!--                  </div>-->

                  <input type="text" [(ngModel)]="user.dt_nasc" name="dt_nasc"  class="form-control form-control-alternative" mask="00/00/0000" placeholder="Dt Nascimento" value="{{user.dt_nasc | mask: '11/11/1111'}}">

                </div>
              </div>
            </div>
          </div>
          </div>
          <hr class="my-4" />
          <!-- Address -->
          <h6 class="heading-small text-muted mb-4">Endereço</h6>
          <div class="pl-lg-4" >
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" >CEP</label>
                  <input [(ngModel)]="user.endereco.cep" value="{{user.endereco.cep}}" name="cep" type="text" mask="00.000-000" class="form-control form-control-alternative" placeholder="CEP">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" >Estado</label>
                  <select [(ngModel)]="user.endereco.cidade.estado_id" name="estado_id" class="form-control form-control-alternative" #estate (change)="getCities(estate.value)">
                    <option>Selecione</option>
                    <option *ngFor="let estate of estates; let i = index" value="{{estate.id}}">{{ estate.nome }}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" >Cidade</label>
                  <select [(ngModel)]="user.endereco.cidade_id" name="cidade_id" class="form-control form-control-alternative">
                    <option>Selecione</option>
                    <option *ngFor="let city of cities; let i = index" value="{{city.id}}">{{ city.nome }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-control-label" >Logradouro</label>
                  <input [(ngModel)]="user.endereco.logradouro" name="logradouro" class="form-control form-control-alternative" placeholder="Endereço" value="" type="text">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label class="form-control-label" >Bairro</label>
                  <input [(ngModel)]="user.endereco.bairro" name="bairro" class="form-control form-control-alternative" placeholder="Bairro" value="" type="text">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="form-control-label" >Número</label>
                  <input [(ngModel)]="user.endereco.numero" name="numero" class="form-control form-control-alternative" placeholder="Número" value="" type="text">
                </div>
              </div>
            </div>
            <div class="row">
              <button class="btn btn-info">Salvar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
