<app-breadcrumb [titulo]="titulo" [subTitulo]="subTitulo" [urlBreadcrumb]="urlBreadcrumb"></app-breadcrumb>

<!-- Page content -->
<div class="container-fluid mt--7">
  <button class="btn btn-primary mb-3" [routerLink]="['/service/create']">Nova OS</button>

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Ordens de serviço</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-hover align-items-center table-flush clicable">
            <thead class="thead-light">
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nome</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let service of services" [routerLink]="['/servico/' + service.id]">
              <th scope="row">{{service.id}}</th>
              <td>{{service.nome}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <app-paginator (clickPage)="getRegistros($event)"></app-paginator>

      </div>
    </div>
  </div>

</div>
