<app-breadcrumb [titulo]="titulo" [subTitulo]="subTitulo" [urlBreadcrumb]="urlBreadcrumb"></app-breadcrumb>

<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary mb-3" [routerLink]="['/user/create']">Novo usuário</button>
    </div>
    <div class="col col-lg-4">
      <div class="form-group">
        <div class=" input-group input-group-merge">
          <div class=" input-group-prepend">
            <span class=" input-group-text"><span class="material-icons text-primary">search</span></span>
          </div>
          <input class="form-control" [(ngModel)]="paramBusca" (keyup.enter)="getRegistros()" placeholder="Buscar" type="text"></div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Usuários</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-hover align-items-center table-flush ">
            <thead class="thead-light">
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nome</th>
              <th scope="col">Email</th>
              <th scope="col">Celular</th>
              <th scope="col">Telefone</th>
              <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users | paginate:{itemsPerPage: 5, currentPage: p, totalItems: total }" >
              <th scope="row">{{user.id}}</th>
              <td>{{user.nome}}</td>
              <td>{{user.email}}</td>
              <td>{{user.celular | mask: '(00) 00000-0000'}}</td>
              <td>{{user.telefone | mask: '(00) 0000-0000'}}</td>
              <td>
                <a [routerLink]="['/user/' + user.id]"><i class="fas fa-search"></i></a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="text-center paginacao">
          <pagination-controls (pageChange)="getRegistros(p = $event);" previousLabel="Anterior" nextLabel="Próximo" responsive="true"></pagination-controls>
        </div>

      </div>
    </div>
  </div>

</div>
